.preview {
  font-size: 1em;
  align-self: flex-start;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.rating {
  margin-right: 5px;
  width: 2.65em;
  height: 2.65em; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  border-style: solid;
}
.rating > span {
  font-size: 1.5em;
}

.title {
  width: 80%;
  font-size: 1em;
  margin-left: 5px;
  text-align: center;
}

.imdbRating {
  color: var(--secondary-font-color);
  font-size: .75em;
}


.imdbMeta {
  color: var(--secondary-font-color);
  font-size: .8em;
  margin-bottom: 0.5em;
}

.imdbMeta > span:first-child::before {
  display: none;
}

.imdbMeta > span::before {
  content: "|";
  color: var(--secondary-font-color);
  margin: 0px 5px;
}

.image {
  font-size: .9em;
  line-height: 150%;
}
.image::after {
  display: block;
  clear: both;
  content: "";
}

.poster {
  max-width: 6em;
  margin-right: 10px;
}


.imdbDetails {
  font-size: .9em;
}
.imdbDetails dt {
  float: left;
  width: 75px;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-right: 2%;
  color: var(--secondary-font-color);
}

.imdbDetails dd {
  float: left;
  width: 75%;
  padding: 0;
  margin: 0;
  text-align: left;
}

