.preview {
  font-size: 1em;
  align-self: flex-start;
  height: 100%;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.rating {
  width: 11em;
  height: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  border-style: solid;
  border-color: var(--main-font-color);
  font-size: .8em;
  margin-right: .5em
}

.rating > span {
  font-size: 1.5em;
}

.title {
  width: 100%;
  font-size: 1em;
  text-align: center;
}

.body {
  display: flex;
  align-items: flex-start;
}
.image {
  margin-right: .7em;
  overflow: hidden;
  width: 13em;
}

.imagePoster {
  height: 12em;
  overflow: hidden;
}

.imageFooter {
  color: var(--secondary-font-color);
  font-size: .9em;
  text-align: center;
  line-height: 150%;
  min-width: 8em;
}

.imageFooter > span:first-child::before {
  display: none;
}

.imageFooter > span::before {
  content: "|";
  color: var(--secondary-font-color);
  margin: 0px 5px;
}

.imageFooter::after {
  display: block;
  clear: both;
  content: "";
}

.details {
  font-size: .9em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  display: flex;
  flex-direction: column;
  height: 12em;
  justify-content: space-around;
  width: 100%;
}
.details dt {
  float: left;
  padding: 0;
  text-align: center;
  color: var(--secondary-font-color);
}

.details dd {
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sinopsis {
  overflow: hidden;
  height: 9em;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}